* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  font: 16px/1.25 "Questrial", sans-serif;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1rem;
  background: #2d54b9;
  color: white;
}
.bar__input {
  flex: 3 1 30em;
  padding: 1em;
  border: none;
  transition: background 0.2s ease-in-out;
}
.bar__input::placeholder {
  color: rgba(255, 255, 255, 0.51);
}
.bar__button, .bar__input {
  background: transparent;
  color: currentColor;
  font: inherit;
}
.bar__input:focus {
  background: #2d2d2d;
}
.bar__input:invalid ~ .bar__button {
  opacity: 0.5;
  pointer-events: none;
}
.bar__input:valid ~ .bar__button {
  opacity: 1;
  pointer-events: all;
  background: #27a2d4;
}
.bar__input:valid ~ .bar__button:hover, .bar__input:valid ~ .bar__button:focus {
  background: white;
  color: #27a2d4;
  border-color: #27a2d4;
}
.bar__button {
  flex: 1 1 10em;
  padding: 1em;
  border: 0.1em solid transparent;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes rotate-cycle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate-cycle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.modal {
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: fixed;
  z-index: 1;
  pointer-events: none;
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.modal__load-state {
  font-size: 3rem;
  display: block;
  padding: 2em;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  opacity: 0;
  will-change: transform;
  contain: strict;
  -webkit-animation: fade-in 0.3s ease-in forwards, rotate-cycle 0.7s cubic-bezier(0.5, 0.4, 0.5, 0.6) 30 forwards, fade-out 0.3s ease-in 19.0909090909s forwards;
  animation: fade-in 0.3s ease-in forwards, rotate-cycle 0.7s cubic-bezier(0.5, 0.4, 0.5, 0.6) 30 forwards, fade-out 0.3s ease-in 19.0909090909s forwards;
  animation-play-state: paused;
  background: url("data:image/svg+xml;charset=utf8,    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E        %3Cpath stroke='hsla(183.6deg, 40.6504065041%, 51.7647058824%, 1)' d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='hsla(183.6deg, 40.6504065041%, 51.7647058824%, 1)'%3E%3C/path%3E    %3C/svg%3E") no-repeat center center;
  background-size: 3em;
  width: 3em;
  height: 3em;
}
.modal__text {
  font-size: 1.5em;
}
.modal__button {
  background: #52b0b6;
  color: white;
  padding: 0.5em 1.5em;
  font: inherit;
  border: 0.3em solid transparent;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.modal__button:hover, .modal__button:focus {
  background: white;
  color: #52b0b6;
  border-color: #52b0b6;
}
.modal--is-visible {
  pointer-events: all;
  transform: scale(1);
  opacity: 1;
}
.modal--is-visible .modal__load-state {
  animation-play-state: running;
}

/*# sourceMappingURL=style.css.map */
