@use "../utils/tailspin";
@use "../utils/center-absolute";

@mixin init {
    @include tailspin.css-tailspin;

    .modal {
        $color: #52b0b6;
        background: rgba(255, 255, 255, 0.7);
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include center-absolute.center-absolute("fixed");
        z-index: 1;
        pointer-events: none;

        transform: scale(0.95);
        opacity: 0;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

        &__load-state {
            font-size: 3rem;
            @include tailspin.svg-tailspin(
                (
                    stroke: $color,
                    fill: $color
                )
            );
        }

        &__text {
            font-size: 1.5em;
        }

        &__button {
            background: #{$color};
            color: white;
            padding: .5em 1.5em;
            font: inherit;
            border: .3em solid transparent;
            transition: background .2s ease-in-out, border-color .2s ease-in-out;

            &:hover,
            &:focus {
                background: white;
                color: #{$color};
                border-color: #{$color};
            }
        }

        &--is-visible {
            pointer-events: all;
            transform: scale(1);
            opacity: 1;
        }

        &--is-visible &__load-state {
            animation-play-state: running;
        }
    }
}